main {
  margin: 2rem;
}
.hero {
  background: url('/02 - article preview component/images/drawers.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 22vh;
  border-radius: 0.75rem 0.75rem 0 0;
}
.content,
.author {
  background-color: #fff;
  font-family: $font-family;
  padding: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;

  &-heading {
    font-size: $font-heading;
    color: $very-dark-grayish-blue;
    font-weight: $font-heading-weight;
  }
  &-body {
    font-size: 1.3rem;
    color: $desaturated-dark-blue;
    font-weight: $font-body-weight;
  }
}
.share {
  background-color: $very-dark-grayish-blue;
  height: 4rem;
  border-radius: 0 0 0.5rem 0.5rem;

  &-text {
    font-family: $font-family;
    font-weight: $font-body-weight;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    color: $grayish-blue;
    text-transform: uppercase;
  }
}
.author {
  border-radius: 0 0 0.5rem 0.5rem;

  &-avatar {
    width: 25%;
    height: 25%;
    border-radius: 25%;
  }
}
