@import "./partials/variables";
@import "./partials/breakpoint";
@import "./partials/card";
@import "./partials/footer";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
